@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

/* 	
#############################################
Standard
#############################################
*/

a:focus,
a:active { outline: none; }

ul { list-style: none; }

/*  
#############################################
Flash Messages
#############################################
*/

.flash { position: absolute; top: 100px; left: 50%; margin-left: -150px; width: 260px; background: rgba(0,0,0,0.85); color: white; text-align: center; font-size: 16px; line-height: 1.5em; font-weight: bold; padding: 20px; border-radius: 3px; z-index: 200000; }

/* 	
#############################################

Players
#############################################
*/

.top-bar                                    { margin-bottom: 20px; }

#playerlist                                 { min-width: 300px; }
.playerlist-container                       { background: #EFEFEF; border: 1px solid #CCC; }

.playerlist-container .side-nav             { padding: 0; }

.playerlist-container .button-group li      { width: 16.6666667%; box-sizing: border-box; }
.playerlist-container .button-group a       { width: 100%; box-sizing: border-box; }

.playerlist-container .button-group li,
.playerlist-container .button-group a       { margin-bottom: 0; color: white; }

    ul.players              { list-style: none; display: none; }
    ul.players.active       { display: block; }

    ul.players li           { padding: 0.5em; border: 1px solid #EFEFEF; box-sizing: border-box; -moz-box-sizing: border-box; }
    
    ul.players li h5                    { font-size: 13px; font-weight: bold; }
    ul.players li h5 .first_name        { font-size: 12px; font-weight: normal; }
    ul.players li h5 .team,
    ul.players li h5 .position          { margin-left: 5px; font-size: 12px; font-weight: bold; }

		.qb 				{ background: lightblue; }
		.rb					{ background: orange; }
		.wr					{ background: yellow; }
		.te					{ background: lightgreen; }
		.k					{ background: #FCFCFC; }
		.def				{ background: #AAA; }

#draft_grid				{ width: 100%; border-collapse: collapse; margin: 0; padding: 0; overflow: scroll; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0,0,0); }

#draft_grid tr th       { background: #CCC; vertical-align: middle; text-align: center; }

#draft_grid tr th,
#draft_grid tr td 		{ width: 8.3333%; min-width: 90px; height: 80px; padding: 0; font-size: 13px; border: 1px solid #333; }

#draft_grid tr td		{ vertical-align: top; }

#draft_grid tr td .player_grid              { margin-bottom: 0; }
#draft_grid tr td .player_grid tr td        { border-collapse: collapse; border-right: none; border-left: none;  min-width: 90px; } 
#draft_grid tr td .player_grid tr td div	{ padding: 5px; height: 80px; position: relative; min-width: 90px; vertical-align: middle; }
#draft_grid tr td .player_grid tr td h5		{ margin: 0; font-size: 14px; }

#draft_grid tr td .player_grid tr td span.first_name	{ font-weight: normal; }
#draft_grid tr td .player_grid tr td span.team,			
#draft_grid tr td .player_grid tr td span.position		{ font-weight: bold; font-size: 12px; }

#teams                          { overflow: scroll; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0,0,0); }
#footer                         { background: transparent; position: fixed; bottom: 0px; padding: 3em 0 0 0; }
#footer .playerlist-container   { display: none; overflow: scroll; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0,0,0); }
#footer .tab                    { border-bottom: 10px solid #333; width: 100%; }
#footer .tab a                  { position: absolute; color: white; font-weight: bold; top: 0.25em; right: 20px; padding: 1em 1em 0.75em; background: #333; border-radius: 3px 3px 0 0; }

